body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex : 1;
}

.navbar{
    height : 5rem;
}
.fa-compass{
    font-size: 1.5rem;
}
.nav-link{
    color : black !important;
}
.nav-link:hover{
    cursor: pointer !important;
    font-weight: 700 !important;
}

/* Footer styling */

.f-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6rem;
    gap : 6px;
    background-color: #F8F9FA;
    text-align: center;
}
.f-info-socials, .f-info-links, .private{
    width: 100%;
}
.f-info-socials i{
    margin : 5px;
    font-size: 1.1rem;
    cursor: pointer;
}
.private{
    font-size: 14px;
}
.f-info-links a{
    font-size: 14px;
    text-decoration: none;
    color : black;
    margin : 5px;
}
.f-info-links a:hover{
color : blue;
text-decoration: underline;
}

/* styling cards */

.listing-card{
    border : none !important; 
    margin-bottom : 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}

.listing-link {
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}
.add-btn{
background-color:#198754 !important;
border: none !important;
position: relative;
}

/* Shoq Page */
.show-img{
    max-height: 30vh;
}

.btns{
    display: flex;
}
.no-buttons{
    position: relative;
    top : -20px;
}
